body {
    background-color: ghostwhite;
    color: black;
    height: 700vh;
    width: 100%;
    margin: 0%;
}

.container {
    position: relative; 
    height: 100vh;
    width: 100%;
}

#header {
    background-color: ghostwhite;
    height: 500px;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),  url("./37B435BF-B07C-4810-8F4E-1E42ECDC9090_1_105_c.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.child {
    opacity: 1;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}